body {
            font-family: 'Poppins', sans-serif;
        }
        .btn-calc {
            transition: all 0.1s ease-out;
            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2), 0 2px 4px -2px rgba(0, 0, 0, 0.2); /* Shadow sedikit lebih lembut */
            outline: none;
            border: none;
            cursor: pointer;
        }
        .btn-calc:active {
            transform: translateY(1px);
            box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 1px 2px -1px rgba(0, 0, 0, 0.2);
        }
        .btn-calc:focus {
            ring: 3px;
            ring-opacity: 0.5;
        }
        #display {
             font-family: monospace;
        }
        #display::placeholder {
            color: white;
            opacity: 1; 
        }